body > p[style] + p + p {
	color: green;
}
* {
	font-family: Georgia, serif;
	font-size: 16px;
}
h1 {
	font-size: 2.0rem;
}
#id-selector {
	text-transform: uppercase;
}

.languages-to-be-learned {
	background-color: skyblue;
}

h4 + img + ul{
	list-style-type: none;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 15px;
}